<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - PurchaseRequisition</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body style="background-color: ghostwhite">
    <div style="background-color: #111683" class="navbar navbar-inverse navbar-fixed-top">
        @*<img style="height: 50px; z-index: 999; align-content:center;" src="~/Content/images/WVUPlogo.png"/>
        *@
        <div class="container">
            <div class="navbar-header">

                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("PurchaseRequisition", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })

                @if (User.Identity.IsAuthenticated)
                {
                    if (User.IsInRole("Admin"))
                    {
                        @Html.ActionLink("Users", "Index", "Account/Register", new { area = "" }, new { @class = "navbar-brand" })
                        @Html.ActionLink("Colleges", "Index", "Colleges", new { area = "" }, new { @class = "navbar-brand" })
                        @Html.ActionLink("Campus", "Index", "Campus", new { area = "" }, new { @class = "navbar-brand" })
                        @Html.ActionLink("Divisions", "Index", "Divisions", new { area = "" }, new { @class = "navbar-brand" })
                        @Html.ActionLink("Departments", "Index", "Departments", new { area = "" }, new { @class = "navbar-brand" })
                        @Html.ActionLink("Role", "Index", "Role", new { area = "" }, new { @class = "navbar-brand" })
                    }
                }

                @if (User.Identity.IsAuthenticated)
                {
                    if (User.IsInRole("CFO"))
                    {
                        @Html.ActionLink("Budget Manager", "Index", "Budgets", new { area = "" }, new { @class = "navbar-brand" })
                        @Html.ActionLink("User Budgets", "Index", "UserBudgetCodes", new { area = "" }, new { @class = "navbar-brand" })
                    }
                }
                @if (User.Identity.IsAuthenticated)
                {
                    if (User.IsInRole("State Auditor"))
                    {
                        @Html.ActionLink("Budgets", "Index", "Budgets", new { area = "" }, new { @class = "navbar-brand" })
                        @Html.ActionLink("User Budgets", "Index", "UserBudgetCodes", new { area = "" }, new { @class = "navbar-brand" })

                    }
                }
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                   @*
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                       *@

                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">

        @RenderBody()
        <hr />
        <footer>
            <p style="font-size: small"><center>&copy; @DateTime.Now.Year - WVUP Purchase Requisition System</center></p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
