@model PurchaseReqV3.Models.Budget

@{
    ViewBag.Title = "Details";
}

<h1>Budget Details</h1>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Amount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Amount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateCreated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateCreated)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateEnded)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateEnded)
        </dd>

    </dl>
</div>

<p>
    @*
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |*@
    <h4>@Html.ActionLink("Back to Budgets List", "Index")</h4>
</p>
